//overlay
$overlay-background-color: black;
$overlay-transition: .3s ease;
$overlay-opacity--open: 0.5;
$modal-overlay-z-index:99;

//Modal
$modal-background: white;
$modal-overlay-background: 0.51;
$modal-overlay-background--isLoading: 0.28;
$modal-z-index:100;

.modal {
  @apply rounded-[0.5rem] px-[1.5rem] py-[1em] mx-auto right-0 left-0 h-max bg-white max-w-[85%]
  shadow-[0_0_10px_-5px] w-[650px] relative
  z-[#{$modal-z-index}];
  &__header {
    @apply text-center;
  }

  &__header {
    @apply mb-5 flex items-center justify-between;
    svg{
      @apply text-[27px]
    }
    h3{
      @apply text-[18px] font-bold;
    }
  }

  &__footer {
    &.text-center{
      text-align: center;
    }
    &.text-right{
      text-align: right;
    }
    &.text-left{
      text-align: left;
    }
    @apply mt-3;
  }
}

.overlay {
  @apply fixed inset-0 flex overflow-y-auto py-[3rem] bg-[rgb(0,0,0,#{$modal-overlay-background})]
  z-[#{$modal-overlay-z-index}];
  transition: all 0.1s ease;
}

.loading-overlay{
@apply absolute inset-0 grid content-center;
  &:before{
    content:'';
    @apply absolute inset-0 bg-[rgb(0,0,0,#{$modal-overlay-background--isLoading})]
  }
}